<!DOCTYPE html>
<html>
<head>
  <title>Earth Time</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<body onload="geolocate(updateDb)">
  <h1>GOOGLE LOGIN USING PASSPORT</h1>
  <div>
      <% if (user) { %>
        <h2> Below is the data sent by google</h2>
        <pre>
          <p>Google ID: <%= user.google.id %></p>
          <p>Latitude: <%= user.location.lat %></p>
          <p>Longitude: <%= user.location.lng %></p>
        </pre>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
  </div>

  <div class="">
    <p>Add the Earth Time Clockface here</p>
  </div>

  <div class="">
    <% include ../views/location-form %>
  </div>

  <% include ../views/scripts %>
</body>
</html>
