<!DOCTYPE html>
<html>
<head>
  <title>Earth Time</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <h1>GOOGLE LOGIN USING PASSPORT</h1>
  <div>
      <% if (user) { %>
        <h2> Below is the data sent by google</h2>
        <pre>
          <%= user.google.id %>
          <%= user.location.lat %>
          <%= user.location.lng %>
        </pre>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/google">Login with Google</a>
      <% } %>
  </div>

  <div class="">
    <% include ../views/location-form %>
  </div>

  <% include ../views/scripts %>
</body>
</html>
