<button type="button" class="btn btn-primary" onclick="geolocate()">Pull Location</button>

<script>
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      console.log(geolocation);
    });
  }
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNw6EWF-H-Wm3EOzYDZlO8WjSVOQu4E4M&libraries=places" async defer></script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNw6EWF-H-Wm3EOzYDZlO8WjSVOQu4E4M&libraries=places&callback=initAutocomplete" async defer></script> %>
