<button type="button" class="btn btn-primary" onclick="geolocate(updateDb)">Pull Location</button>

<script src="./javascripts/location.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNw6EWF-H-Wm3EOzYDZlO8WjSVOQu4E4M&libraries=places" async defer></script>
<%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNw6EWF-H-Wm3EOzYDZlO8WjSVOQu4E4M&libraries=places&callback=initAutocomplete" async defer></script> %>

<%# missing an ajax call %>
